.mainList {
  margin: 5rem 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  background-color: burlywood;
  padding: 0;
  width: 58%;
}

.resultList {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #829699;
  color: white;
  width: 100%;
}

.resultList li {
  padding: 3% 4px;
}

.buttonList,
.buttonListBottom {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  background-color: #f1f0eb;
  border-bottom: 1px solid #dddcd7;
  width: 100%;
}

.buttonList li,
.buttonListBottom li {
  padding: 3% 3%;
  text-align: center;
  width: 25%;
  border-right: 1px solid #dddcd7;
}

.buttonList li:last-child,
.buttonListBottom li:last-child {
  border-right: none;
  background-color: #e07b39;
}

.buttonListBottom li:first-child {
  width: 58%;
}

.calculateBtn {
  background-color: transparent;
  border: none;
}
